body{
  background-color: #1b1b1b;
}

.centered{
  text-align: right;
  margin-bottom: 20px;
}

.right{
  text-align: right;
}

p{
  color: #ffff;
  font-family: Arial;
  font-size: 3em;
  margin-bottom: 10px;
  
}

b{
  color: #ffff;
  font-family: Arial;
  font-size: 3em;
  margin-bottom: 10px;
}


button{
  margin-top: 15px;
  color: #ffff;
  background-color: #1e1e1e;
  border-color: #ffff;
  font-size: 1.5em;
  padding: 10px 15px;
  border-width: 0.01em;
  border-radius: 5px;
  border: solid;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

button:hover{
  color: #1e1e1e;
  background-color: #ffff;
  border-color: #ffff;
}